@{
    ViewBag.Title = "Marble & Stone Flooring | Floors And Walls Tiles";
}
@section Meta{
    <meta name="description" content="Marble flooring. We offer a wide range of  marble tiles for bathrooms, kitchens, book matched walls, hallways, conservatories. Direct Importers." />
}
@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>Marble & Stone Flooring </h2>
    </div>
}

<h3>All Slabs Available</h3>
<p>
    We mainly work with Italian marble as we can get the material straight from the source
    offering a wide range of marble & stone at very competitive price.
    We also offer marble & stone which comes from Brazil, Africa and above all Europe.
    The following is a list of all marble we deal with: Dark/light Emperador, Azul Macaubas,
    Nero Portoro, Pietra grey, Pietra Serena, Noir Saint Lauren, Gioia Noir.
</p>
<p>
    With our existing extensive ranges of stone tiles, we can now supply cut to size slabs and bespoke size stone tiles to your specification. We can also help and assist you in regards to pricing and availability.
</p>