@{
    ViewBag.Title = "Carrara";
}
@section Meta{
    <meta name="description" content="" />
    <meta name="keywords" content="" />
}
@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>@ViewBag.Title</h2>
    </div>
}

<h3>@ViewBag.Title</h3>
<p>

</p>