@{
    ViewBag.Title = "Italian Marble Tiles | Marble Flooring Supplier";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@section Meta{
    <meta name="description" content="Italian marble is used for both commercial and residential projects: marble flooring, stone flooring, marble tiles, marble wall tiles." />
    <meta name="keywords" content="Italian marble, marble flooring, stone flooring, marble tiles, marble wall tiles" />
}

@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />
}
@section Scripts{
    <script src="~/Scripts/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () {
            $(".materialGallery").fancybox();
        });
    </script>
}
@section Header{
    <div class="animatedParent animateOnce">
        <div class="header-content animated fadeInDown">
            <h2>@ViewBag.Title</h2>
        </div>
    </div>
}


<div class="container body-content">
    <h3>Marble & Stone</h3>

    <p>
        Italian marble is widely appreciated for its high quality and variety of choice. In fact, this marble fits floors and walls of a bathroom or any room in a fantastic way. Italian marble is mainly used in flooring or walls for both commercial and residential projects: hotels, restaurants or private house. We offer marble that is cut to size, slabs and marble flooring and wall tiles based on your project requirements and specifications.
    </p>
    <p>
        We mainly work with Italian marble as we can get the material straight from the source which offers a wide range of marble at a very competitive price. However, through collaboration with all our partners, we can source marble or stone from all over the world:  Brazil, Africa and Europe.
    </p>
    @*<p>
            Easy to shape and elegant in appearance, marble is the ideal material for use in construction and interior design.
            Sourced directly from the quarry, it is available in blocks, slabs or shaped to the requirements of your project.
        </p>*@

    <div class="row materials-container">
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bianco-perlino.jpg" title="Bianco Perlino">
                    <img src="~/Images/marble/bianco-perlino.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Bianco Perlino</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bardiglio-nuvolato.jpg" title="Bardiglio Nuvolato">

                    <img src="~/Images/marble/bardiglio-nuvolato.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Bardiglio Nuvolato</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bardiglio-imperiale.jpg" title="Bardiglio Imperiale">

                    <img src="~/Images/marble/bardiglio-imperiale.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Bardiglio Imperiale</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bianco-carrara-cd.jpg" title="Bianco Carrara CD">

                    <img src="~/Images/marble/bianco-carrara-cd.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Bianco Carrara CD</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bianco-carrara-c.jpg" title="Bianco Carrara C">
                    <img src="~/Images/marble/bianco-carrara-c.jpg" />

                </a>
            </div>
            <p class="nameMaterial">Bianco Carrara C</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/carrara-bianco-gioia.jpg" title="Carrara Bianco Gioia">
                    <img src="~/images/marble/carrara-bianco-gioia.jpg" />
                </a>
            </div><p class="nameMaterial">Carrara Bianco Gioia</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/carrara-grey-royal.jpg" title="Carrara Grey Royal">
                    <img src="~/images/marble/carrara-grey-royal.jpg" />
                </a>
            </div><p class="nameMaterial">Carrara Grey Royal</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/carrara-imperial-blue.jpg" title="Carrara Grey Royal">
                    <img src="~/images/marble/carrara-imperial-blue.jpg" />
                </a>
            </div><p class="nameMaterial">Carrara Imperial Blue</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/CALACATTA-GREY.jpg" title="Calacatta Grey">
                    <img src="~/Images/marble/CALACATTA-GREY.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Calacatta Grey</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/calacatta.jpg" title="Calacatta">
                    <img src="~/Images/marble/calacatta.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Calacatta</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/calacatta-extra.jpg" title="Calacatta Extra">

                    <img src="~/Images/marble/calacatta-extra.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Calacatta Extra</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/top-quality-calacatta.jpg" title="Top Quality Calacatta">

                    <img src="~/Images/marble/top-quality-calacatta.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Top Quality Calacatta</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/calacatta-gold.jpg" title="calacatta gold"><img src="~/Images/marble/calacatta-gold.jpg" /></a>
            </div><p class="nameMaterial">calacatta gold</p>
        </div><div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Calacatta-Vagli.jpg" title="calacatta vagli"><img src="~/Images/marble/Calacatta-Vagli.jpg" /></a>
            </div><p class="nameMaterial">calacatta vagli</p>
        </div><div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/CALACATTA_BORGHINI.jpg" title="calacatta_borghini"><img src="~/Images/marble/CALACATTA_BORGHINI.jpg" /></a>
            </div><p class="nameMaterial">calacatta borghini</p>
        </div><div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Cremo-Delicato.jpg" title="cremo delicato"><img src="~/Images/marble/Cremo-Delicato.jpg" /></a>
            </div><p class="nameMaterial">cremo delicato</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/statuarietto.jpg" title="Statuarietto">

                    <img src="~/Images/marble/statuarietto.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Statuarietto</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/statuario-venato.jpg" title="Statuario Venato">

                    <img src="~/Images/marble/statuario-venato.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Statuario Venato</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/statuario.jpg" title="Statuario">
                    <img src="~/images/marble/statuario.jpg" />
                </a>
            </div><p class="nameMaterial">Statuario</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Statuario-Extra.jpg" title="statuario extra"><img src="~/Images/marble/Statuario-Extra.jpg" /></a>
            </div><p class="nameMaterial">statuario extra</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/striato-olimpico.jpg" title="striato olimpico"><img src="~/Images/marble/striato-olimpico.jpg" /></a>
            </div><p class="nameMaterial">striato olimpico</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/arabescato-royal.jpg" title="Arabescato Royal">
                    <img src="~/Images/marble/arabescato-royal.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Arabescato Royal</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Arabescato-corchia.jpg" title="arabescato corchia"><img src="~/Images/marble/Arabescato-corchia.jpg" /></a>
            </div><p class="nameMaterial">arabescato corchia</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/top-quality-arabescato.jpg" title="Top Quality Arabescato">

                    <img src="~/Images/marble/top-quality-arabescato.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Top Quality Arabescato</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/arabescato-orobico.jpg" title="Arabescato Orobico">

                    <img src="~/Images/marble/arabescato-orobico.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Arabescato Orobico</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/thassos.jpg" title="Thassos">

                    <img src="~/Images/marble/thassos.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Thassos</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/venatino.jpg" title="Venatino">
                    <img src="~/images/marble/venatino.jpg" />
                </a>
            </div><p class="nameMaterial">Venatino</p>
        </div>


        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/bianco-zandobbio.jpg" title="Bianco Zandobbio">
                    <img src="~/Images/marble/bianco-zandobbio.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Bianco Zandobbio</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Bianco-Apuano.jpg" title="bianco apuano"><img src="~/Images/marble/Bianco-Apuano.jpg" /></a>
            </div>
            <p class="nameMaterial">bianco apuano</p>
        </div>
       <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/GRIGIO_FIOR_DI_BOSCO.jpg" title="grigio_fior_di_bosco"><img src="~/Images/marble/GRIGIO_FIOR_DI_BOSCO.jpg" /></a>
            </div><p class="nameMaterial">grigio fior di bosco</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/palissandro-bluette.jpg" title="palissandro bluette"><img src="~/Images/marble/palissandro-bluette.jpg" /></a>
            </div><p class="nameMaterial">palissandro bluette</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/foussana-grey.jpg" title="Foussana Grey">

                    <img src="~/Images/marble/foussana-grey.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Foussana Grey</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/grigio-carnico.jpg" title="Grigio Carnico">
                    <img src="~/images/marble/grigio-carnico.jpg" />
                </a>
            </div><p class="nameMaterial">Grigio Carnico</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/pietra-grey.jpg" title="Pietra Grey">

                    <img src="~/Images/marble/pietra-grey.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Pietra Grey</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/SILVER-PORTORO.jpg" title="Silver Portoro">

                    <img src="~/Images/marble/SILVER-PORTORO.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Silver Portoro</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/negro-marquina.jpg" title="Negro Marquina">

                    <img src="~/Images/marble/negro-marquina.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Negro Marquina</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/noir-gioia .jpg" title="noir gioia "><img src="~/Images/marble/noir-gioia .jpg" /></a>
            </div><p class="nameMaterial">noir gioia </p>
        </div>
      
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/noir-saint-laurent.jpg" title="Noir Saint Laurent">

                    <img src="~/Images/marble/noir-saint-laurent.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Noir Saint Laurent</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/antique-brown.jpg" title="Antique Brown">

                    <img src="~/Images/marble/antique-brown.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Antique Brown</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/blackwood .jpg" title="blackwood "><img src="~/Images/marble/blackwood .jpg" /></a>
            </div><p class="nameMaterial">blackwood </p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/portoro-extra.jpg" title="Portoro Extra">
                    <img src="~/images/marble/portoro-extra.jpg" />
                </a>
            </div><p class="nameMaterial">Portoro Extra</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/portoro-standard.jpg" title="Portoro Standard">
                    <img src="~/images/marble/portoro-standard.jpg" />
                </a>
            </div><p class="nameMaterial">Portoro Standard</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/emperador-dark.jpg" title="Emperador Dark">

                    <img src="~/Images/marble/emperador-dark.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Emperador Dark</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Emperador-Light.jpg" title="Emperador Light">

                    <img src="~/Images/marble/Emperador-Light.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Emperador Light</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Brown-coffee.jpg" title="brown coffee"><img src="~/Images/marble/Brown-coffee.jpg" /></a>
            </div><p class="nameMaterial">brown coffee</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/ombra-Caravaggio .jpg" title="ombra caravaggio "><img src="~/Images/marble/ombra-Caravaggio .jpg" /></a>
            </div><p class="nameMaterial">ombra caravaggio </p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/riace-bronze.jpg" title="riace bronze"><img src="~/Images/marble/riace-bronze.jpg" /></a>
            </div><p class="nameMaterial">riace bronze</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/botticino-classico.jpg" title="Botticino Classico">

                    <img src="~/Images/marble/botticino-classico.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Botticino Classico</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/botticino-fiorito.jpg" title="Botticino Fiorito">
                    <img src="~/Images/marble/botticino-fiorito.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Botticino Fiorito</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/beige-alpi-c.jpg" title="Beige Alpi C">
                    <img src="~/Images/marble/beige-alpi-c.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Beige Alpi C</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/beige-alpi-d.jpg" title="Beige Alpi D">
                    <img src="~/Images/marble/beige-alpi-d.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Beige Alpi D</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/thala-beige.jpg" title="Thala Beige">

                    <img src="~/Images/marble/thala-beige.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Thala Beige</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/triesta.jpg" title="Triesta">

                    <img src="~/Images/marble/triesta.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Triesta</p>
        </div>



        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/giallo-atlantide.jpg" title="Giallo Atlantide">
                    <img src="~/images/marble/giallo-atlantide.jpg" />
                </a>
            </div><p class="nameMaterial">Giallo Atlantide</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/giallo-reale.jpg" title="Giallo Reale">
                    <img src="~/images/marble/giallo-reale.jpg" />
                </a>
            </div><p class="nameMaterial">Giallo Reale</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/giallo-siena.jpg" title="Giallo Siena">
                    <img src="~/images/marble/giallo-siena.jpg" />
                </a>
            </div><p class="nameMaterial">Giallo Siena</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/giallo-siena-extra.jpg" title="Giallo Siena Extra">
                    <img src="~/images/marble/giallo-siena-extra.jpg" />
                </a>
            </div><p class="nameMaterial">Giallo Siena Extra</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/perlato-sicilia.jpg" title="Perlato Sicilia">
                    <img src="~/images/marble/perlato-sicilia.jpg" />
                </a>
            </div><p class="nameMaterial">Perlato Sicilia</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/pietra-della-lessinia.jpg" title="Pietra della Lessinia">
                    <img src="~/images/marble/pietra-della-lessinia.jpg" />
                </a>
            </div><p class="nameMaterial">Pietra della Lessinia</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/rojo-alicante.jpg" title="Rojo Alicante">

                    <img src="~/Images/marble/rojo-alicante.jpg" />
                </a>
            </div><p class="nameMaterial">Rojo Alicante</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/rosso-asiago.jpg" title="Rosso Asiago">
                    <img src="~/images/marble/rosso-asiago.jpg" />
                </a>
            </div><p class="nameMaterial">Rosso Asiago</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/trani-fiorito.jpg" title="Trani Fiorito">
                    <img src="~/images/marble/trani-fiorito.jpg" />
                </a>
            </div><p class="nameMaterial">Trani Fiorito</p>
        </div>


        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/rosa-perlino.jpg" title="Rosa Perlino">
                    <img src="~/images/marble/rosa-perlino.jpg" />
                </a>
            </div><p class="nameMaterial">Rosa Perlino</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/ROSA_PORTOGALLO.jpg" title="rosa_portogallo"><img src="~/Images/marble/ROSA_PORTOGALLO.jpg" /></a>
            </div><p class="nameMaterial">rosa portogallo</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/sunny.jpg" title="Sunny">
                    <img src="~/Images/marble/sunny.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Sunny</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/silvia.jpg" title="Silvia">
                    <img src="~/Images/marble/silvia.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Silvia</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/galala.jpg" title="Galala">
                    <img src="~/Images/marble/galala.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Galala</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/green-guatemala.jpg" title="Green Guatemala">

                    <img src="~/Images/marble/green-guatemala.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Green Guatemala</p>

        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/images/marble/verde-alpi.jpg" title="Verde Alpi">
                    <img src="~/images/marble/verde-alpi.jpg" />
                </a>
            </div><p class="nameMaterial">Verde Alpi</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/azul-macaubas.jpg" title="Azul Macaubas">

                    <img src="~/Images/marble/azul-macaubas.jpg" />
                </a>
            </div>
            <p class="nameMaterial">Azul Macaubas</p>
        </div>

        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Azul-Boquira.jpg" title="azul boquira"><img src="~/Images/marble/Azul-Boquira.jpg" /></a>
            </div><p class="nameMaterial">azul boquira</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/sodalite_blue.jpg" title="sodalite_blue"><img src="~/Images/marble/sodalite_blue.jpg" /></a>
            </div><p class="nameMaterial">sodalite blue</p>
        </div>
        <div class="col-sm-3 col-xs-6">
            <div class="material">
                <a class="materialGallery" rel="material" href="/Images/marble/Blue-Calcite.jpg" title="blue calcite"><img src="~/Images/marble/Blue-Calcite.jpg" /></a>
            </div><p class="nameMaterial">blue calcite</p>
        </div>
       
        @*<div class="col-sm-3 col-xs-6">
                <div class="material">
                    <a class="materialGallery" rel="material" href="/Images/marble/{fileName}.jpg" title="{Name}">

                        <img src="~/Images/marble/{fileName}.jpg" />
                    </a>
                </div>
                <p class="nameMaterial">{Name}</p>
            </div>*@


    </div>
</div>