@{
    ViewBag.Title = "Onyx";
}
@section Meta{
    @*<meta name="description" content="" />*@
}
@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
    <link href="~/Scripts/fancybox/jquery.fancybox.css" rel="stylesheet" />

}
@section Scripts{
    <script src="~/Scripts/fancybox/jquery.fancybox.js"></script>
    <script>
        $(document).ready(function () {
            $(".materialGallery").fancybox();
        });
    </script>
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>@ViewBag.Title</h2>
    </div>
}

<h3>Onyx</h3>
<p>
    The onyx marble are less compact than marble and have natural defects and cracks which are normally filled with polyester resin in order to form a uniform and firmly closed area. Onyx is a natural rock and can differ from block to block where it’s mined, there are many different types of onyx which colour can vary from blue to white, yellow, green. Onyx is ideal for application in bookmatched walls projects: luxury hotels, restaurants or private houses.
</p>
<hr />
<div class="row">
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/bianco-onyx-supreme.jpg" title="Bianco Onyx Supreme">
                <img src="~/Images/onyx/bianco-onyx-supreme.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Bianco Onyx Supreme</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/blue-onyx.jpg" title="Blue Onyx">
                <img src="~/Images/onyx/blue-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Blue Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/cappuccino-onyx.jpg" title="Cappuccino Onyx">
                <img src="~/Images/onyx/cappuccino-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Cappuccino Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/green-onyx.jpg" title="Green Onyx">
                <img src="~/Images/onyx/green-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Green Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/grey-onyx.jpg" title="Grey Onyx">
                <img src="~/Images/onyx/grey-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Grey Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/onyx-miele.jpg" title="Onyx Miele">
                <img src="~/Images/onyx/onyx-miele.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Onyx Miele</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/onyx-vanilla.jpg" title="Onyx Vanilla">
                <img src="~/Images/onyx/onyx-vanilla.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Onyx Vanilla</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/orange-onyx.jpg" title="Orange Onyx">
                <img src="~/Images/onyx/orange-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Orange Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/pink-onyx.jpg" title="Pink Onyx">
                <img src="~/Images/onyx/pink-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Pink Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/red-onyx.jpg" title="Red Onyx">
                <img src="~/Images/onyx/red-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">Red Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/white-gold-vein-onyx.jpg" title="White Gold Vein Onyx">
                <img src="~/Images/onyx/white-gold-vein-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">White Gold Vein Onyx</p>
    </div>
    <div class="col-sm-3 col-xs-6">
        <div class="material">
            <a class="materialGallery" rel="material" href="/Images/onyx/white-onyx.jpg" title="White Onyx">
                <img src="~/Images/onyx/white-onyx.jpg" />
            </a>
        </div>
        <p class="nameMaterial">White Onyx</p>
    </div>
</div>