@{
    ViewBag.Title = "Porphyry";
}
@section Meta{
    <meta name="description" content="Porphyry has become very popular for use in landscaping and road building in the UK. Hard wearing and attractive, our porphyry is mined from Italian quarries." />
}
@section Style{
<link href="~/Content/materials.css" rel="stylesheet" />
    }
@section Header{
    <div class="header-content animated fadeInDown">
    <h2>@ViewBag.Title</h2>
</div>
}

<h3>Italian Porphyry</h3>
<p>
    Porphyry has become very popular for use in landscaping and road building in the UK. Hard wearing and attractive, our porphyry is mined from Italian quarries.
</p>
<div class="row" style="margin:20px 0 30px">
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry1.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry2.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry3.jpg" style="max-width:80%" class="img-circle" />
    </div>
</div>
<a href="/gallery#porphyry" class="btn btn-readmore" style="margin:0 0 10px">View More</a>

<h3>
    Porphyry Setts</h3>
<p>
    Durable and attractive, setts are found commonly in town centres. Each piece is riven, offering a flat appearance with non-slip properties.
</p><p>
    Raw porphyry’s natural colouring allows it to be used to mask signs of dirt. These pieces of rock can sit easily next to any material, 
    and are often laid out in simple yet effective fan and arc formations.
</p>

<img src="~/Images/porphyry-setts.jpg" style="max-width:100%;margin:10px 0 25px;border-radius:10px" />

<h3>
    Porphyry Paving</h3>
<p>
    The characteristics of porphyry make it ideal for paving. Smooth but not slippery, it comes naturally coloured in rich purples, greys and oranges.
</p><p>
    Sourced from the quarry, we can cut the rock into any shape you require: pathways, driveways, patios and even internal flooring can easily be laid with it.</p>
<div class="row" style="margin:20px 0 0">
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry-paving1.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry-paving2.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/porphyry-paving3.jpg" style="max-width:80%" class="img-circle" />
    </div>
</div>
