@{
    ViewBag.Title = "About Us";
}
@section Meta{
    <meta name="description" content="Marble Italia combines and simplifies the process of obtaining Italian marble and porphyry for design and construction around the world." />
    <meta name="keywords" content="Marble Italia, marbleitalia, mrbitalia, mrb italia,Architect,Project,Marble,Quarry,Blocks,Slabs" />
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>@ViewBag.Title</h2>
    </div>
}
<h3 id="who">Who we are</h3>
<p>
    Marble Italia Ltd is a London based company: quarry owner and supplier of bespoke natural stone for commercial
    and residential projects. We are specialized in Carrara marble and Botticino marble:
    tiles for flooring or wall coverings, kitchen top, staircase, vanity top, skirting board and more.
</p>
<p>
    Our prices are the most competitive around, as we source our materials straight from the quarries bypassing the
    wholesaler/retailer. We offer a wide range of natural stone based on the client’s needs and budget.
</p>
<p>
    <a href="/quote" title="Get a quote" class="btn btn-default">Get a quote!</a> 
</p>
<p>
    We import Carrara marble tiles and botticino marble tiles at the cheapest price of the market:
    standard sizes 600 x 600, 600 x 300, 300 x 300 mm - 150/200 mm thickness.
</p>
<p>
    Through a direct link between quarries, marble workers and clients, we are able to reduce the time and costs associated with quickly acquiring the stone.
</p>
<p>
    These strong relationships between quarry owners, technicians and stoneworkers allow us to source the finest raw material straight from source, and mould it precisely.
</p>
<p>
    The transition from basic rock to finished product is complex - to ensure it flows and remains unhindered by third parties, we follow the process throughout.

</p>

<div class="clearfix" style="margin-top:30px"></div>
<h3 id="what">What we offer</h3>
<p>
    Italian quarries are renowned for their high quality marble; Marble Italia allows you to select this premium stone at three different stages of manufacture:
</p>

<div class="row">
    <div class="col-xs-12">
        <a href="/blocks" title="Blocks">
            <h4 class="title-what" style="background-image:url('/Images/blocks-title.jpg');">Marble blocks </h4>
        </a>
        <p>
            Once you choose the type of stone you need, the raw material is then mined from a quarry in blocks, where our technicians will test that it meets your requirements.
        </p>
        <p>
            Quality can be variable depending on your needs, and there are over 30 different types of stone to choose from all over Italy, with each quarry offering its own range
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="/slabs" title="Slabs">
            <h4 class="title-what" style="background-image:url('/Images/slabs-title.jpg');">Marble slabs</h4>
        </a>
        <p>After removal, blocks can then be taken to stoneworkers for formation into simple slabs. Available in standard market sizes, slabs are then finished using a variety of techniques, including: polishing, brushing and bushhammering. </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="/consultation" title="Consultation">
            <h4 class="title-what" style="background-image:url('/Images/planing-title.jpg');">Fully shaped product</h4>
        </a>
        <p>For any project requiring marble or porphyry, we can help with design and choice of slabs. Consult with us to lay out your plans, and work with our craftsmen to achieve the stone specifications for your project.</p>
    </div>
</div>