@{
    ViewBag.Title = "Blocks";
}
@section Meta{
    <meta name="description" content="Blocks of marble…direct from source" />
}
@section Header{
    <div class="header-content animated fadeInDown">
    <h2>@ViewBag.Title</h2>
</div>
}

<h3>Blocks of marble…direct from source</h3>
<img src="~/Images/blocks-header.jpg" style="max-width:100%;margin:10px 0 25px;border-radius:10px" alt="blocks" />
<p>
    Italy is home to the largest area of quarries in the world; for centuries Italian marble has been used as the ideal material for shaping and carving.
</p>
<p>
    When sourced directly from a quarry, huge blocks of natural marble, of any specified size, can be exported globally to marble sawmill owners, stoneworkers and workshop proprietors.
</p>
<p>
    Marble Italia have technicians and engineers working in quarries that will carefully select your rock, making sure you receive only the finest product.
</p>
<div class="row" style="margin-top:20px;">
    <div class="col-xs-12 col-sm-4 text-center v-center">
        <img src="/Images/blocks-2.jpg" class="pull-right img-circle" style="max-width:80%;margin:10px;" />
    </div>
    <div class="col-xs-12 col-sm-4 text-center v-center">
        <img src="/Images/blocks.jpg" class="pull-right img-circle" style="max-width:80%;margin:10px;" />
    </div>

    <div class="col-xs-12 col-sm-4 text-center v-center">
        <img src="/Images/blocks-3.jpg" class="pull-right img-circle" style="max-width:80%;margin:10px;" />
    </div>
</div>
