@{
    ViewBag.Title = "Quarries";
}
@section Meta{
    <meta name="description" content="Italian quarries: where the journey begins" />
}
@section Header{
    <div class="header-content animated fadeInDown">
    <h2>@ViewBag.Title</h2>
</div>
}

<h3>Italian quarries: where the journey begins</h3>
<img src="/Images/quarries.jpg" class="pull-left" style="max-width:100%;margin:10px 0 25px;border-radius:10px" alt="quarries" />

<p>
    Every individual quarry contains a multitude of different types of rock, with many of the pieces dating back millions of years.
</p><p>
    Co-operating with quarry owners across Italy, Marble Italia sources various types of marble and porphyry, allowing you a vast choice of stone for your commercial or private project.
</p><p>
    Marble blocks mined from these selected quarries are certified by technicians on-site, allowing you to receive high-grade material, delivered in plenty of time and in the size best fitting your requirements.
</p>
<div class="row" style="margin-top:20px">
    <div class="col-sm-4 text-center">
        <img src="~/Images/quarries-1.jpg" style="max-width:80%" class="img-circle" /></div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/quarries-2.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/quarries-3.jpg" style="max-width:80%" class="img-circle" />
    </div>
</div>