@{
    ViewBag.Title = "Slabs";
}
@section Meta{
    <meta name="description" content="Cut, polished and refined: marble slabs" />
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>@ViewBag.Title</h2>
    </div>
}

<h3>Cut, polished and refined: marble slabs</h3>
<img src="/Images/slabs-header.jpg" style="max-width:100%;margin:10px 0 25px;border-radius:10px" alt="slabs" />
<p>
    Once extracted from the quarry in a block, the marble and stone can be taken to a workshop for stoneworkers to transform into impeccable slabs.
</p>
<p>
    Experienced artisans will mould slabs into a standard market size, before storing them ready for shipment anywhere in the world.
</p>
<p>
    We also store a selection of slabs beautifully polished with resin, and in various thicknesses for order at any time and with rapid delivery.

</p>

<div class="row" style="margin-top:20px">
    <div class="col-sm-4 text-center">
        <img src="~/Images/slabs-1.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/slabs-2.jpg" style="max-width:80%" class="img-circle" />
    </div>
    <div class="col-sm-4 text-center">
        <img src="~/Images/slabs-3.jpg" style="max-width:80%" class="img-circle" />
    </div>
</div>