@{
    ViewBag.Title = "Marble Tiles";
}
@section Meta{
    @*<meta name="description" content="" />*@
}
@section Style{
    <link href="~/Content/materials.css" rel="stylesheet" />
}
@section Header{
    <div class="header-content animated fadeInDown">
        <h2>@ViewBag.Title</h2>
    </div>
}

<h3>@ViewBag.Title</h3>
<p>
    We offer a wide range of marble tiles at unbelievable prices. We don’t have our tiles in stock as when buying
    stock of marble tiles the risk of receiving marble tiles which comes from different slabs batch it’s quite common,
    that’s why once we receive an order we process slabs or blocks from the same batch, that means you don’t absolutely
    risk to get marble tiles which presents colour variations or different grade of quality between them, we guarantee
    you’ll get a first quality selected product.
</p>
<p>
    Our tiles are expression of quality, versatility and precision in the
    use of natural stone. To the traditional standard formats we add the possibility of making customized formats in any
    size between 200 and 610 mm and, today, also the production of rectangular sizes between 305 x 100 mm and 914 x 457 mm.
</p>
<p>
    All tiles can be produced with a thickness from 10 to 20 mm, and are beveled and calibrated.
</p>
<hr />
<div class="row">
    <div class="col-sm-6">
        <h4>Square formats</h4> 
        <div style="width:100px;height:100px;border:1px solid #000;float:left;  margin:0 10px 10px 0;background-image:url(/Images/marble/top-quality-arabescato.jpg);background-size:cover">

        </div>
        <table>
            <tr>
                <th width="110">Centimeters</th>
                <th>Inches</th>
            </tr>
            <tr>
                <td>30.5x30.5x1</td>
                <td>12x12x3/8''</td>
            </tr>

            <tr>
                <td> 40x40x1</td>
                <td>116x16x3/8''</td>
            </tr>
            <tr>
                <td>45.7x45.7x1 </td>
                <td>18x18x3/8''</td>
            </tr>
            <tr>
                <td>61x61x1</td>
                <td>24x24x3/8''</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h4>
            Rectangular formats
        </h4>
        <div style="width:100px;height:170px;border:1px solid #000;float:left; margin:0 10px 10px 0;background-image:url(/Images/marble/top-quality-arabescato.jpg);background-size:cover">

        </div>
        <table>
            <tr>
                <th width="110">Centimeters</th>
                <th>Inches</th>
            </tr>
            <tr>
                <td>30.5x10x1</td>
                <td>12x4x3/8''</td>
            </tr>
            <tr>
                <td>30.5x15x1</td>
                <td>12x6x3/8''</td>
            </tr>
            <tr>
                <td>61x30.5x1</td>
                <td>24x12x3/8''</td>
            </tr>
            <tr>
                <td>40x20x1</td>
                <td>16x8x3/8''</td>
            </tr>
            <tr>
                <td>45.7x20x1</td>
                <td>18x8x3/8''</td>
            </tr>
            <tr>
                <td>91.4x30.5x1</td>
                <td>36x12x3/8''</td>
            </tr>
            <tr>
                <td>91.4x45.7x1</td>
                <td>36x18x3/8''</td>
            </tr>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <h4>
            Cut to size
        </h4>
        <div id="hexagon" style="float:left;margin: 30px 15px 30px 5px;"></div>
        
        <p style="font-size: 14px;">
            In order to give to the customer a full service 360°, 2P is also able to realize on purpose jobs and particular finishings.
        </p>
    </div>
</div>